@use "./../scss/header" as header;
@use "./../scss/variables" as vars;

.application-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  min-height: 38px;
  padding: 0.5rem 1rem;
  background: url(#{header.$header-background}), center, center,
    linear-gradient(90deg, rgba(vars.$brand-dark, 1) 0%, rgba(vars.$brand, 1) 100%);
  color: white;
}

.application-header_title {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  user-select: none;

  img {
    height: 2.25rem;
  }

  div {
    font-size: 1.3rem;
  }
}

@media (max-width: 650px) {
  .application-header_title div {
    display: none;
  }
}
