@use "./scss/variables" as vars;

/////////////////////////////////////////////////////////////////////////////////////////
// font
/////////////////////////////////////////////////////////////////////////////////////////
@import url("https://fonts.googleapis.com/css?family=Roboto");

/////////////////////////////////////////////////////////////////////////////////////////
// minimal styles for vernonia calcite
/////////////////////////////////////////////////////////////////////////////////////////
:root,
.calcite-mode-light,
* .calcite-mode-light {
  --calcite-color-brand: #{vars.$brand};
  --calcite-color-brand-dark: #{vars.$brand-dark}; // custom vernonia color var
  --calcite-color-off-white: #{vars.$brand-off-white}; // custom vernonia color var
  --calcite-color-brand-hover: #{vars.$brand-hover};
  --calcite-color-brand-press: #{vars.$brand-press};
  --calcite-color-brand-underline: #{vars.$link-underline};
  --calcite-sans-family: #{vars.$font-family};
  --calcite-color-text-link: #{vars.$brand-hover};
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: vars.$font-family;
}
